<div class="section">
    <div class="categories-list">
        <div>
            <%= link_to '+ New Category', new_category_path, method: :get, class: 'button'%>
        </div>

        <% @categories.each do |category| %>
            <div class="list-category-item">
                <span><%= link_to category.name, category_path(category.id)%></span>
                <span><%= category.description %></span>
                <span><%= link_to 'Edit', edit_category_path(category.id), method: :get, class: 'button' %></span>
            </div>
        <% end %>
    </div>
</div>






